@model IEnumerable<iSangue.Models.Doador>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Doadores</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataNasc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cidadeDoacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoSanguineo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataNasc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cidadeDoacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoSanguineo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idDoador">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.idDoador">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.idDoador">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
