@model iSangue.Models.CalendarioEvento

@{
    ViewData["Title"] = "Detalhes do evento";
}

<h1>Detalhes</h1>


<div>
    <h4>
        @Html.DisplayFor(model => model.nomeEvento)


    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nomeEvento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nomeEvento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dataEvento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dataEvento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.quantidadeInteressados)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.quantidadeInteressados)
        </dd>
        <dt class="col-sm-2">
            Entidade Coletora
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.entidadeColetora.nome)
        </dd>
        <dt class="col-sm-2">
            Endereço
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cedenteLocal.endereco) (@Html.DisplayFor(model=>model.cedenteLocal.nome))
        </dd>
    </dl>

 

</div>
<div>
    <a asp-action="ListarEventos">Voltar para a lista de eventos</a>
</div>
