@model iSangue.Models.CalendarioEvento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CalendarioEvento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantidadeInteressados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantidadeInteressados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.enderecoLocalColeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.enderecoLocalColeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numeroEnderecoLocalColeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numeroEnderecoLocalColeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.entidadeColetora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.entidadeColetora)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
