@model iSangue.Models.CalendarioEvento
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Inscrição";
    var Iddoador = Context.Session.GetString("ID_DOADOR") == null ? "" : Context.Session.GetString("ID_DOADOR");
}

<h1>Inscrever-se no Evento</h1>

<div>
    <h4>CalendarioEvento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nomeEvento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nomeEvento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dataEvento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dataEvento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.quantidadeInteressados)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.quantidadeInteressados)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.entidadeColetoraID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.entidadeColetoraID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cedenteLocalID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cedenteLocalID)
        </dd>
    </dl>

    <form asp-action="InscricaoEvento">
        <input type="hidden" asp-for="cedenteLocalID" value="@Iddoador" />
        <input type="submit" value="Save" class="btn btn-primary" />
    </form>
</div>
<div>

    <a asp-action="Index">Voltar</a>
</div>
